.ipynb_checkpoints
*.egg-info
*.so
*.aux
*.pdf
*.log
*.out
*.gz
*.bbl
*.blg
*.dvi
*.toc
*.lof
*.lot
*.bcf
*.nav
*.snm
phd-blx.bib
phd_final-blx.bib
*.run.xml
__pycache__
env
local
kybdata.txt
target
docs
build
tty_*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
